@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #fff
	opacity: 1

*:-moz-placeholder
	color: #fff
	opacity: 1

*::-moz-placeholder
	color: #fff
	opacity: 1

*:-ms-input-placeholder
	color: #fff
	opacity: 1

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden

.h1, .h2, .h3, .h4, .h5, .h6
	line-height: 1.4
	text-transform: uppercase

.text-center
	text-align: center

.button
	display: inline-block
	border: none
	color: #fff
	text-decoration: none
	background-color: $accent
	padding: 16px 45px
	font-size: 13px
	text-transform: uppercase
	font-weight: 600
	letter-spacing: 3px
	border-radius: 4px
	text-align: center
	position: relative
	outline: none
	transition: background-color .1s ease
	&::after
		transition: background-color .2s ease
		position: absolute
		content: ""
		height: 4px
		bottom: 0
		width: 100%
		background-color: darken($accent, 50%)
		opacity: .18
		border-bottom-left-radius: 2px
		border-bottom-right-radius: 3px
		left: 0
	&:focus, &:hover
		text-decoration: none
		color: #fff
	&:hover
		background-color: lighten($accent, 5%)
		&::after
			opacity: .22
	&:active
		background-color: darken($accent, 5%)
		&::after
			opacity: .32
	&.button-white
		background-color: #fff
		color: $btn-text-color
		&::after
			background-color: rgba(#000, .6)
			&:hover
				&::after
					background-color: rgba(#000, .2)
			&:active
				&::after
					background-color: rgba(#000, .4)
		&:hover
			background-color: darken(#fff, 5%)
section
	&.inverse
		background-color: #4A4A4A
		color: #fff
	.h2
		font-size: 30px
		font-weight: 800
		span
			color: $accent

.section-overlay
	position: relative
	&::before
		content: ""
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-color: $overlay
		opacity: .92

.s
	&-king, &-review, &-partners
		padding: 5% 0
	&-king
		p
			margin: 30px 0
// Шапка
.site-header
	min-height: 700px
	height: 100vh
	background-size: cover
	background-position: center
	padding-top: 40px
	position: relative
	.top-line
		position: absolute
		width: 100%
		padding-left: 45px
		.logo img
			width: 125px
			height: auto
		.phone
			position: absolute
			right: 85px
			top: -5px
			font-family: firasans, sans-serif
			font-size: 22px
			span
				color: #fff
				display: inline-block
				margin-left: 10px
			.fas
				color: #555
				font-size: 22px
		.hamburger
			position: absolute
			top: 0
			right: 0
			padding-top: 0
			padding-bottom: 0
			.hamburger-box
				width: 34px
				height: 22px
.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before
	border-radius: 0
	-webkit-border-radius: 0
	width: 34px
	height: 3px
	background-color: #fff

.mm-navbar
	height: auto
	position: relative
	border-bottom: 0
	.mm-title
		padding: 0
		img
			width: 128px
			height: auto
			margin: 10px 0 35px

.mm-panels>.mm-panel:after, .mm-panels>.mm-panel:before
	height: 0

.mm-panels>.mm-panel>.mm-listview:first-child, .mm-panels>.mm-panel>.mm-navbar+.mm-listview
	margin-top: 0

.mm-listview>li:not(.mm-divider):after
	display: none

.mm-menu.mm-theme-black .mm-listview > li.mm-selected > a:not(.mm-next), .mm-menu.mm-theme-black .mm-listview > li.mm-selected > span
	background-color: transparent
	color: $accent

.mm-listview
	> li
		> a
			transition: color .25s ease
			padding:
				left: 14%
				right: 14%
				top: 8px
			&:hover
				color: $accent
		&.active
			& > a
				color: $accent
.header-flex
	display: -webkit-flex
	display: -ms-flex
	display: flex
	height: 100%
	position: relative
	top: 0

.flex-center
	margin: auto

.header-composition
	text-align: center
	position: relative
	color: #fff
	.welcome
		p
			text-transform: uppercase
			font-size: 14px
			display: -webkit-flex
			display: -ms-flex
			display: flex
			align-items: center
			white-space: nowrap
			padding: 0
			margin: 0
			margin-bottom: -10px
			&::before, &::after
				content: ""
				height: 1px
				width: 100%
				position: relative
				background-color: #fff
				display: inline-block
			span
				margin: 0 10px
		.h1
			margin: 0
			padding: 0
			text-transform: uppercase
			font-size: 70px
			line-height: 1.6
			font-weight: 100
			white-space: nowrap
			border-bottom: 1px solid #fff
		strong
			display: block
			font-size: 17px
			text-transform: uppercase
			margin-top: 25px
			.fas
				font-size: 12px
				color: #555
				margin-right: 10px
				position: relative
				top: -1.5px
				&:last-child
					margin-right: 0
					margin-left: 10px
	.button
		margin-top: 25px

	p
		margin-top: 40px
.header-social
	position: absolute
	display: -webkit-flex
	display: -ms-flex
	display: flex
	right: 0
	height: 100%
	border-left: 1px solid rgba(#fff, .1)
	top: 0
	padding: 0 10px

.soc
	margin: auto
	ul, li
		margin: 0
		padding: 0
		list-style-type: none
	a
		color: #2c2c2c
		font-size: 17px
		display: block
		background-color: rgba(#fff, .2)
		height: 38px
		width: 38px
		text-align: center
		margin: 18px 0
		line-height: 38px
		border-radius: 10em
		transition: background-color .25s ease
		&:hover
			background-color: rgba(#fff, .4)

.header-contacts
	color: #fff
	position: absolute
	bottom: 0
	left: 0
	border-top: 1px solid rgba(#fff, .15)
	width: 100%
	padding: 10px 0
	background-color: rgba(#151515, .15)
	font-size: 16px
	.fas, .far
		margin-right: 5px
		color: #555
	.phone
		font-family: firasans, sans-serif
		display: block
		text-align: center


// Фикс для скролла
html.mm-opened
	overflow-y: scroll

.mm-panels > .mm-hasnavbar
		right: -18px

// Сервисы

$colors: $blue-color, $red-color, $accent
@for $i from 1 through length($colors)
	.carousel-services .owl-item:nth-child(#{length($colors)}n + #{$i})
		background-color: nth($colors, $i)

.carousel-services
	.owl-dots
		display: none
	&-item
		color: #fff
		font-size: 18px
		font-weight: 300
		position: relative
		display: flex
		flex-direction: column-reverse
		&:hover
			.carousel-services-image
				opacity: 1
		.carousel-logo
			text-align: center
			img
				width: 100px
				height: auto
				display: inline-block
	&-content
		display: flex
		position: relative
		padding: 60px 10%

	&-composition
		text-align: center
		width: 100%
		.h3
			font-weight: 800
			font-size: 28px
			margin-top: 5px
			margin-bottom: 20px
			span
				font-weight: normal
				font-size: 18px
				font-weight: 300
				display: block
	&-list
		margin: 0
		padding: 0
		list-style-type: none
		margin-bottom: 25px
		li
			padding: 9px
			border-bottom: 1px solid rgba(#000, .12)
			&:last-child
				border-bottom: none
			strong
				font-family: firasans, sans-serif
				color: $text-color-grey
				.fas
					font-size: 14px
					margin-left: 5px

	.owl-item:nth-child(2n+2)
		.carousel-services-item
			flex-direction: column
	&-image
		background-size: cover
		background-position: center
		opacity: .7
		transition: opacity .5s ease
.owl-nav
	position: absolute
	top: 0
	width: 100%
	> div
		position: absolute
		width: 64px
		height: 64px
		font-size: 26px
		color: $text-color-grey
		background: #fff
		text-align: center
		line-height: 64px
		&.owl-next
			right: 0


// Королевский стиль
.s-king
	.col-md-7
		padding-top: 10px

.ug-slider-wrapper .ug-item-wrapper
	width: 653px !important
	height: 428px !important

.ug-gallery-wrapper .ug-slider-wrapper
	width: 653px !important
	height: 428px !important

.ug-gallery-wrapper .ug-textpanel-bg
	display: none !important

.ug-default-button-hidepanel .ug-default-button-hidepanel-bg
	display: none !important

.ug-strip-panel
	background-color: transparent !important

.ug-thumbs-strip
	position: relative !important
	height: 55px !important
	margin: auto !important
	//top: 50px !important
	left: 0 !important
	.ug-thumbs-strip-inner
		margin: auto !important
		position: relative !important
		//width: 100% !important
		height: 50px !important
		text-align: center !important
		display: -webkit-flex !important
		display: -ms-flex !important
		display: flex !important
		justify-content: space-between !important
		img
			width: 120px !important
	.ug-thumb-overlay
		height: 55px !important

.ug-thumb-wrapper
	border: 4px solid #fff

.ug-thumb-selected
	border: 4px solid $accent

.ug-item-wrapper
	height: auto !important

#gallery
	height: 428px !important

.ug-strip-panel
	margin-bottom: 20px !important
	bottom: 0 !important
	top: 26px !important
.ug-strip-arrow .ug-strip-arrow-left .ug-skin-default
	display: none !important
.img-responsive
	display: block
	max-width: 100%
	height: auto
// Секция с формой

.s-call
	background-size: contain
	background-repeat: no-repeat
	background-color: #fff !important
	background-position: 12%
	position: relative
	&::before
		content: ""
		width: 50%
		position: absolute
		background-color: rgba($accent, .92)
		height: 100%
		right: 0

input, textarea, select, .selectize-input, .selectize-control.single .selectize-input.input-active
	background-color: transparent
	border: 1px solid rgba(#000, .1)
	border-bottom: 2px solid rgba(#000, .1)
	border-radius: 2px
	padding: 8px 20px
	outline: none
	display: inline-block
	font-size: 16px
	color: #333
select
	padding: 10px 22px

.selectize-control.single
	.selectize-input
		box-shadow: none
		overflow: inherit
		line-height: inherit
		text-align-last: left
		input
			font-size: 16px
		&.dropdown-active::before
			background-color: transparent

.selectize-input.full
	background-color: transparent

.selectize-control.single
	.selectize-dropdown
		font-size: 15px
		border: none
		border-radius: 0
		text-align: left
		&-content
			.option
				padding: 10px 22px
				&.active
					background-color: lighten($accent, 15)

.success
	display: none
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	text-transform: uppercase
	font-weight: bold
	//display: flex
	z-index: 10
	span
		margin: auto
	& ~ *
		transition: all .5s ease
	&.active
		& ~ *
			opacity: .5
			filter: blur(10px)


.callback
	box-sizing: border-box
	padding: 10% 0
	position: relative
	&-logo
		img
			width: 100px
			height: auto
	.formhead
		margin: 0
		font-size: 30px
	p
		margin-top: 0
	input, textarea, select, .selectize-input, .selectize-control.single .selectize-input.input-active
		color: #fff
		width: 100%
		margin-top: 17px
		option
		 color: #333
	.button
		margin-top: 40px

// Отзывы

.reviews
	text-align: center
.owl-dots
	width: 100%
	text-align: center
	margin-top: 60px
	.owl-dot
		width: 8px
		height: 8px
		background-color: #fff
		margin-right: 7px
		border-radius: 10em
		display: inline-block
		transition: all .5 ease
		&:last-of-type
			margin-right: 0
		&.active
			background-color: $accent
			transform: scale(1.3)

.review
	margin-top: 20px
	&-header
		font-family: "Times New Roman", serif
		font-size: 30px
		font-style: italic
		font-weight: bold
	&-date
		font-family: "Times New Roman", serif
		font-style: italic
		font-size: 15px
		color: #888
	&-stars
		margin: 20px
		margin-bottom: 30px
		font-size: 14px
		color: $accent
		.fas
			margin: 0 2px
	&-text
		color: #95989A

.quotes
	position: absolute
	width: 100%
	&::after, &::before
		content: ",,"
		position: absolute
		font-size: 56px
		color: $accent
		font-family: "Times New Roman", serif
		font-weight: bold
		line-height: 0
		display: block
	&::before
		transform: rotate(180deg)
		left: -60px
		top: 220px
	&::after
		top: 180px
		right: -60px



// Партнеры
.s-partners
	&::before
		background-color: #fff
	.h2

.partners
	.partner
		height: 100%
		display: flex
		margin: auto
	.owl-stage
		display: flex
		.owl-item
			margin-top: 30px
			img
				max-width: 100%
				width: auto
				display: block
				margin: auto
	.owl-nav
		position: absolute
		top: 0
		width: 100%
		z-index: 2
		> div
			background: transparent
			color: #999
			top: 25px
			transition: opacity .5s ease
			padding: 0 10px
			&:hover
				opacity: .6
		.owl-prev
			left: -60px
		.owl-next
			right: -60px


.text-center
	text-align: center

::selection
	background-color: $accent
	color: #fff

@import "media" // Всегда в конце
